<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="dent-logo">
      <img src="<%= asset_path('dent.png') %>">
    </a>
    <h1>Dentist Search</h1>
    <p>Find the right Dentist for your needs</p>
    <a type="button" class="btn btn-lg btn-primary" href="/practices">Practices</a>
    <a type="button" class="btn btn-lg btn-primary" href="/professionals">Professionals</a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>What we do</h3>
      We help you find dental treatment that fits your needs.  Your individual concerns may include price, location, specialties.  Which dentists are great with children?  Do you have any allergies?  We will help you find the dentist that's right for you.
    </div>
    <div class="col-md-6">
      <h3>How we do it</h3>
      Our database collects all the information you might need about a dentist in an easy to search format.  You can narrow your search by various criteria including location, specialties, and more.
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    contact support for more information
  </div>
</div>
