<div class="container">

<h1>Editing practice</h1>

<%= render 'form' %>


Add Professional
<!--%= render :template => 'professionals/new', :@professional => Professional.new %-->

<hr>

<%= link_to 'Show', @practice %> |
<%= link_to 'Back', practices_path %>


</div>