<div id="practices"></div>

<script type="text/javascript">
  $(function() {
  window.router = new RubyGettingStarted.Routers.PracticesRouter({practices: <%= @practices.to_json.html_safe -%>});
  Backbone.history.start();
  });
</script>