<h1>New Practice</h1>

<form id="new-practice" name="practice" class="article">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="content"> address:</label>
    <input type="text" name="address" id="address">
  </div>

  <div class="field">
    <label for="city"> city:</label>
    <input type="text" name="city" id="city" >
  </div>

  <div class="field">
    <label for="province"> province:</label>
    <input type="text" name="province" id="province">
  </div>

  <div class="field">
    <label for="postal_code"> postal_code:</label>
    <input type="text" name="postal_code" id="postal_code">
  </div>

  <div class="field">
    <label for="phone_number"> phone_number:</label>
    <input type="text" name="phone_number" id="phone_number">
  </div>

  <div class="field">
    <label for="bio"> bio:</label>
    <input type="text" name="bio" id="bio">
  </div>


  <div class="actions">
    <input type="submit" value="Create Practice" />
  </div>

</form>

<a href="#index">Index</a> | 
<a href="#/">Show</a>
