<h1>New Practice</h1>

<form id="new-post" name="post">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="content"> address:</label>
    <input type="text" name="address" id="address">
  </div>

  <div class="actions">
    <input type="submit" value="Create Practice" />
  </div>

</form>

<a href="#index">Back</a>
