// Place all the styles related to the Practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 50%;
  padding: 0.5em;
  height: auto !important;
  margin-bottom: 2em;
}