$highlight: #002222;
$dark: #ff4444;

.jumbotron {
  background: $highlight;
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($highlight, 20%);
    border-color: lighten($highlight, 20%);
    &:hover {
      background: lighten($highlight, 15%);
    }
  }

  p {
    color: lighten($highlight, 30%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .dent-logo {
    display: block;
    background: $dark;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}

